.footer {
    margin: 0;
    padding: 0;
}

.footer__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    
    align-items: center;
    
    justify-content: space-between;
    border-top: 1px solid rgb(230, 230, 230);
    min-height: 62px;
}

.footer__text {
    margin: 0;
    padding: 0;
    font-family: $Montserrat-font, sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: $black-color;
}

.footer__company-name {
    display: flexbox;
    text-decoration: none;
    color: $lite-red-color;
}

.footer__subscribe-form {
    font-size: 0;
}

.footer__input {
    border-top: 1px solid rgb(230, 230, 230);
    border-left: 1px solid rgb(230, 230, 230);
    border-bottom: 1px solid rgb(230, 230, 230);
    border-right: none;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
    font-size: 15px;
    line-height: 24px;
    color: $main-grey-color;
    width: 230px;
    height: 40px;
    margin: 0;
    padding: 0;
    padding-left: 10px;
}

.footer__input::placeholder {
    font-family: $Roboto-font, sans-serif;
    font-weight: 300;
    font-style: italic;
    font-size: 15px;
    line-height: 24px;
    color: rgb(230, 230, 230);
}

.footer__submit {
    font-family: $Montserrat-font, sans-serif;
    font-weight: 700;
    font-size: 14px;
    background-color: var(--main-green-color);
    color: $white-color;
    margin: 0;
    padding: 12px 0;
    width: 150px;
    border: none;
    cursor: pointer;
}